<%- include('partials/header.ejs'); -%> 
<roseluv@roseluvbooks.com class="error">The page could not be loaded. Contact roseluv@roseluvbooks.com for support. </p>
<script>window.history.pushState(null,null, "/");</script>
<%- include('partials/footer.ejs'); -%>
